body {
  background-color: rgb(2, 2, 2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 10px;
}

.inner {
  background-color: brown;
  width: 120px;
  height: 120px;
  border-radius: 20px;
  cursor: pointer;
  margin: 5px;
  text-align: center;
}

.card {
  height: 120px;
  width: 120px;
  border-radius: 5px;
  cursor: pointer;
}

.card.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.card .front,
.card .back {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  border: 2px solid yellow;
  background: wheat;
  transform: rotateY(180deg);
}

.card .back {
  background: #e3b039;
  font-size: 100px;
  transition: 0.3s ease all;
}

.card .back:hover,
.button-restar:hover {
  background: #dba8b1;
  transform: scale(1.02);
}

.button-restar {
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background: wheat;
}

.counts {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.letter {
  font-weight: bold;
  font-size: 80px;
}
